@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body,
html {
    height: 100%;
    width: 100%;
}

main {
    min-height: 88%;
    position: relative;
    overflow: auto;
}


/* ******************** FONTS / MARGINS/ TEXT  **************************** */

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Righteous', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

a {
    font-family: 'Righteous', cursive;
}

#logo {
    color: rgb(45, 60, 71);
    font-size: 2em;
    font-weight: 900;
    text-shadow: 5px 5px 5px rgb(0, 0, 0), 6px 6px 6px rgba(0, 0, 0, .3), 7px 7px 7px rgba(0, 0, 0, 0.15);
    font-family: 'Indie Flower', 'Righteous', cursive;
}

.align-content-center {
    margin: 0 auto;
    min-height: 80vh;
}


/********************** Colours ***********************/

.bg {
    background: linear-gradient( rgba(51, 102, 153, 0.8), rgba(0, 0, 0, 0.05)), url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-colour-gray {
    background-color: rgb(220, 220, 220);
}

.border-colour {
    border: 4px solid rgb(128, 128, 128);
    border-style: outset;
}

.f-logo-color {
    color: rgb(59, 89, 152);
}

.in-logo-color {
    color: rgb(14, 118, 168);
}

.git-logo-color {
    color: rgb(33, 31, 31)
}

.pdf-logo-color {
    color: rgb(255, 53, 0);
}

.page-heading {
    text-shadow: 5px 5px 5px rgb(0, 0, 0), 6px 6px 6px rgba(0, 0, 0, .3), 7px 7px 7px rgba(0, 0, 0, 0.15);
}


/************** Header/Navigation section **** START **************/

header {
    background-color: rgb(51, 102, 153);
    padding: 15px 0 0 15px;
    min-height: 3.5em;
}

#logo {
    display: inline-block;
    color: rgb(180, 180, 180);
    font-size: 1.5em;
}

.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
}


/*****************************************  */


/************** Header/Navigation section **** END **************/


/* *************Profile section *** START ************/

#profile {
    padding-top: 20vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

#profile-img-box,
#profile-text-box {
    flex: 1;
    margin: 1em;
    padding: 1em;
    overflow: auto;
}

#profile-img-box {
    background-image: url(../images/gediminas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-text-box {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}

#profile-text-box p {
    padding: 2em;
}

#profile-text-box p::first-letter {
    float: left;
    font-size: 2em;
    margin: 0 .2em 0 0;
}


/* *************Profile section END ************/


/* *************** Resume section START************* */

#resume-content .timeline {
    list-style-type: none;
    position: relative;
}

#resume-content .timeline:before {
    display: inline-block;
    position: absolute;
    content: ' ';
    background: rgba(14, 118, 168, 0.1);
    left: 1.7em;
    width: 0.4em;
    height: 100%;
    z-index: 2;
}

#resume-content .timeline>li {
    margin: 4rem 0;
    padding-left: 0.5rem;
}

#resume-content .timeline>li:before {
    display: inline-block;
    position: absolute;
    content: ' ';
    background: rgba(14, 118, 168, 0.6);
    border-radius: 50%;
    border: 3px solid rgb(51, 102, 153);
    left: 1em;
    width: 1.5em;
    height: 1.5em;
    z-index: 2;
}

#resume-content h3 img {
    margin-right: 1em;
}

#resume-content .page-heading {
    border-bottom: 1px dashed rgb(128, 128, 128);
    margin-bottom: 1em;
}

.timeline h6 {
    display: inline-block;
    color: rgb(14, 136, 240);
    font-size: 1.2em;
}


/* *************************** PROJECTS PAGE START **************************** */

.card {
    min-width: 15em;
}

.card img {
    object-fit: contain;
    max-height: 8em;
    padding: 1em;
    background-color: rgb(51, 102, 153);
}

.card-header {
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(51, 102, 153);
}

#projects-section .row:nth-child(2) .col-lg-4,
#projects-section .row:nth-child(2) .col-md-6 {
    margin-bottom: 2em;
}


/* PROJECTS PAGE END */


/* SKILLS PAGE START */

.progress {
    height: 2em;
}

.progress-bar {
    background-color: rgb(51, 102, 153);
}

#additional-skills li {
    display: inline;
    padding: 2em 1em 0 0;
    font-size: 1.2em;
    font-weight: 600;
}

.skills-subheading {
    padding-bottom: 2em;
}

#achievements-row ul {
    list-style-image: url('../images/done.png');
}


/* SKILLS PAGE END */


/* ************* Contact Section START ************/

#contacts-section .row {
    margin-bottom: 1rem;
}

#contact-form button {
    background-color: rgb(51, 102, 153);
}

#contact-form button:hover {
    background-color: rgba(51, 102, 153, 0.8);
}

#contact-info img {
    width: 2em;
    height: 2em;
}

#contact-info p {
    text-align: center;
}


/* ************* Contact Section END ************/


/* ****************FOOTER SECTION START********************* */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 10%;
    margin: 0;
    padding-bottom: 1em;
    text-align: center;
    background: rgb(51, 102, 153);
    color: rgb(78, 177, 186);
}

#footer-links-box {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
    padding: 0.5em;
}

#footer-links-box ul {
    padding-left: 0;
}

#footer-links-box ul li {
    list-style-type: none;
    display: inline-block;
    box-sizing: border-box;
    width: 2.7em;
    height: 2.7em;
    /* box-shadow: 0px 0px 20px rgb(51, 102, 153); */
    border-radius: 50%;
    padding-top: 0.35em;
    background-color: white;
    vertical-align: middle;
}

#facebook:hover,
#facebook:hover a .fa-facebook,
#footer-links-box a .fa-facebook:hover {
    background-color: rgb(59, 89, 152);
    color: rgb(255, 255, 255);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

#linkedin:hover,
#linkedin:hover a .fa-linkedin,
#footer-links-box a .fa-linkedin:hover {
    background-color: rgb(14, 118, 168);
    color: rgb(255, 255, 255);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

#github:hover,
#github:hover a .fa-github,
#footer-links-box a .fa-github:hover {
    background-color: rgb(33, 31, 31);
    color: rgb(255, 255, 255);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

#cv-pdf:hover,
#cv-pdf:hover a .fa-file-pdf,
#footer-links-box a .fa-file-pdf:hover {
    background-color: rgb(33, 31, 31);
    color: rgb(255, 255, 255);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}


/* ****************FOOTER SECTION END********************* */


/*  */


/************************* RESPONSIVE */

@media (orientation: landscape) {
    #contact-info li p {
        font-size: 0.8em;
    }
}


/* For devices with width of 480px and less, like phones */

@media only screen and (max-width: 480px) {
    .align-content-center {
        width: 90vw;
    }
    #contact-info li p {
        font-size: 0.8em;
    }
    .abreviation-logo {
        display: inline;
    }
    .full-logo {
        display: none;
    }
    #profile {
        padding-top: 2vh;
        width: 95vw;
        flex-direction: column;
    }
    #profile-img-box {
        min-height: 25vh;
    }
    #profile-text-box {
        font-size: 1em;
    }
    #profile p {
        padding: 0.5em;
    }
    .progress-bar-h {
        text-align: center;
        font-size: 1em;
    }
}


/* Width between 481px and 768px, like larger phones and portrait tablets */

@media only screen and (min-width: 481px) {
    .align-content-center {
        width: 85vw;
    }
    #contact-info li p {
        font-size: 0.8em;
    }
    .nav-link {
        font-size: 1.2em;
    }
    #logo {
        letter-spacing: 0.1em;
        font-size: 1.2em;
    }
    .abreviation-logo {
        display: none;
    }
    .full-logo {
        display: inline;
    }
    #profile {
        padding-top: 1vh;
        flex-direction: column;
    }
    #profile-img-box {
        min-height: 35vh;
    }
    #profile-text-box {
        font-size: 1em;
    }
    #profile p {
        padding: 0.5em;
    }
    .progress-bar-h {
        text-align: center;
        font-size: 1.1em;
    }
}


/* For devices with width between 769px and 1279px, like landscape tablets and laptops */

@media only screen and (min-width: 769px) {
    .align-content-center {
        width: 75vw;
    }
    .nav-link {
        font-size: 1.3em;
    }
    #logo {
        letter-spacing: 0.2em;
        font-size: 1.4em;
    }
    #profile {
        padding-top: 10vh;
        flex-direction: row;
    }
    #profile p {
        padding: 1em;
    }
    .page-heading h3 {
        font-size: 2em;
    }
    .progress-bar-h {
        text-align: right;
        font-size: 1.2em;
    }
    #contact-form,
    #contact-info {
        padding-top: 3em;
    }
}

@media only screen and (min-width: 900px) {
    .align-content-center {
        width: 70vw;
    }
    #logo {
        font-size: 1.8em;
    }
    #profile {
        padding-top: 10vh;
        flex-direction: row;
    }
    #profile-img-box {
        min-height: 35vh;
    }
    #profile-text-box {
        font-size: 1.1em;
    }
    #contact-form,
    #contact-info {
        padding-top: 4em;
    }
}


/* For devices with width of 1280px and more, like desktop computers */

@media only screen and (min-width: 1280px) {
    #logo {
        font-size: 2em;
    }
    #profile {
        padding-top: 15vh;
        flex-direction: row;
    }
    #profile-img-box {
        min-height: 50vh;
    }
    #profile-text-box {
        padding-top: 5rem;
        font-size: 1.3em;
    }
    .page-heading h3 {
        font-size: 3em;
    }
    #contact-form,
    #contact-info {
        padding-top: 5em;
    }
}


/*************************** RESPONSIVE END*************************/